{% extends '../layout.html' %}

{% block title %}My Account > Sign In{% endblock %}

{% block content %}

<div class="content container">

	<div class="row">

		<div class="columns twelve">

			<h2>Account sign in</h2>

			<form class="generic">

				<label class="field" for="example1">Please enter your email address:</label><br/>
				<input type="text" id="example1"><br>


                <input class="no-account" type="radio" name="number" value="one" id="rad1">
                <label for="rad1">I don't have an account</label>

                <input class="has-account" type="radio" name="number" value="two" id="rad2">
                <label class="has-account-label" for="rad2">I already have an account</label>

                <div class="password-input hidden">
                    <input type="text" id="password"><br>
                    <a class="forgot-password" href="/page/myaccount-forgottenpassword/">Forgotten your password?</a>
                </div>

                <div class="button-section">
                    <button class="button">Back</button>
                    <button class="button primary">Continue</button>
                </div>

			</form>

		</div>

	</div>



</div>

{% endblock content %}

