{% extends '../layout.html' %}

{% block title %}My Account > Forgot Password{% endblock %}

{% block content %}

<div class="content container">

	<div class="row">

		<div class="columns twelve">

			<h2>Reset my password</h2>

			<br/>

			<p>If you've forgotten your password, enter your registered email address and we'll send you a link to reset your password</p>

			<form class="generic">

				<label class="field" for="example1">Email:</label><br/>
				<input type="text" id="example1"><br>

				<button class="button">Cancel</button>
				<button class="button primary">Submit</button>

			</form>

		</div>

	</div>



</div>

{% endblock content %}
