.js .fulfilment-tabs {
	display: block;

	li {
		cursor: pointer;
	}
}

.fulfilment-tabs {

	padding: 0;
	overflow: hidden;
	font-family: $argosCompressedBold;
	text-transform: uppercase;
	margin: 0;
	display: none;

	li {
		border: 1px solid $color-grey4;
		border-bottom: 0;
		color: $text-grey1;
		display: inline-block;
		width: 45%;
		text-align: center;
		height: em( 25, 10 );
		line-height: 3;
		font-size: em( 18, 10 );
		margin: 0;

		&.active {
			border: 2px solid $color-lightgreen;
			border-bottom: 0;
			color: $color-lightgreen;
			background-color: $color-white;
			z-index: 10;
		}
	}

	.collection-tab {
		float: left;
	}

	.delivery-tab {
		float: right;
	}

	&.single-tab {
		li {
			width: 100%;
			float: none;
			box-sizing: border-box;
		}
	}
}

.js .fulfilment-tab-content {

	display: none;

	.tab-heading {
		@include accessibility;
	}


}

.fulfilment-tab-content {

	display: block;
	margin-bottom: em( 20, 10 );

	&.active {

		display: block;
	}

	.fulfilment-location {
		border: 2px solid $color-lightgreen;
		padding: em( 20, 10 ) em( 10, 10 );
		z-index: 5;
		margin-top: -2px;
		margin-bottom: em( 20, 10 );
	}
}

.fulfilment {

	padding-top: em( 20, 10 );

	form.generic {

		margin-bottom: 0;

		.dropdown {

			display: inline-block;
			width: em( 50, 10 );
			margin-bottom: 0;

			select {
				width: em( 50, 14 );
			}
		}

		.check-location {
			width: 50%;
			display: inline-block;
			margin: 0 5% 0 0;
			height: 2.5em;
			box-sizing: border-box;

			&:focus {
				margin: 0 5% 0 0;
			}
		}

		.submit-location {
			width: 20%;
			display: inline-block;
			height: 2.5em;
		}
	}

	.fulfilment-quantity-row {

		margin-bottom: em( 20, 10 );

		label {
			font-size: em( 14, 10 );
			font-family: $argosBook;
			position: relative;
			top: -1em;
			margin-right: em( 10, 14 );
		}
	}

	.button {
		width: 100%;
		text-align: center;
		padding: 0;
		box-sizing: border-box;
	}

	.fulfilment-collection {

		.quantity-form {
			margin-bottom: em( 20, 10 );
		}

		.oneclick-button {
			margin-bottom: em( 20, 18 );
		}

		.oneclick-message {
			font-size: em( 14, 10 );
			font-family: $argosBook;
		}
	}
}

.fulfilment-credit-info {

	margin-bottom: em( 20, 10 );

	.buy-message-primary {
		color: $text-red;
		font-family: $argosCompressedBold;
		font-size: em( 23, 10 );
		background: transparent url( '../img/credit_icon.gif' ) 100% 50% no-repeat;
		padding-right: 55px;
	}

	.alternate-colour {
		color: $text-grey1;
	}

	.buy-message-secondary {
		font-size: em( 12, 10 );
	}

	.buy-message-link {
		padding-bottom: em( 26, 14 );
	}
}

.fulfilment-shutl-info {

	.shutl-message {
		padding-left: 100px;
		background: transparent url( '../img/shutl_icon.png' ) 0 50% no-repeat;
		font-size: em( 12, 10 );
	}


	.icon-more-info {
		display: inline-block;
		position: relative;
		top: em( 2, 10 );
	}
}
