<h2 class="accessibility">Argos Credit offers</h2>
<div class="row">
	<div class="columns three card-img">
    	<img src="/public/img/argos_card.gif" alt="Argos credit offers dummy image" />
	  	<p>Representative <strong>29.9&#37; <abbr title="Annual percentage rate">APR</abbr></strong> variable</p>
    </div>
	<div class="columns six card-info">
    	<h3 class="title">Buy Now Pay Later,&nbsp; every time you use an Argos Card</h3>
        <h4><strong>Use your existing Argos Card or apply for a new one at the payment page</strong></h4>
        <p class="copy">Subject to status. Our aim is to give every online applicant an instant decision. On certain occasions, this may not be possible. Representative 29.9&#37; <abbr title="Annual percentage rate">APR</abbr> variable. Pay off a Buy Now, Pay Later Plan by the due date and you pay no interest. Spread the cost further, then you pay interest on the whole balance from the purchase date, with a minimum monthly payment. Deferred interest will be charged if you don&#39;t clear the balance by the due date. Store card credit for Argos Ltd is provided exclusively by Home Retail Group Card Services Ltd, part of the same group and both at 489-499 Avebury Boulevard, Milton Keynes MK9 2NW. The APR relates to the Argos Card as a whole and is variable. The interest rate for the Fixed Payment Plans will be fixed. </p>
    </div>
	<div class="columns three credit-plan">
    	<h3 class="title">Today your trolley qualifies you for&#58;</h3>
        <ul>
        	<li><a href="#">6 Months Buy Now Pay Later</a></li>
			<li><a href="#">3 Months Buy Now Pay Later</a></li>
			<li><a href="#">Normal Credit</a></li>
		</ul>
    </div>
</div>