<nav class="delivery-pagination">
	<a href="#" class="btn-earlier">Earlier</a>
	<a href="#" class="btn-later">Later</a>
</nav>

<p>Please select a delivery date and time</p>

<table class="delivery-slot-picker">
	<thead>
		<tr>
			<td></td>
			<td>
				<span class="day">Today</span>
				<span class="date">Nov 29th</span>
			</td>
			<td class="highlight">
				<span class="day">Tomorrow</span>
				<span class="date">Nov 30th</span>
			</td>
			<td>
				<span class="day">Sun</span>
				<span class="date">Dec 1st</span>
			</td>
			<td>
				<span class="day">Mon</span>
				<span class="date">Dec 2nd</span>
			</td>
			<td>
				<span class="day">Tue</span>
				<span class="date">Dec 3rd</span>
			</td>
			<td>
				<span class="day">Wed</span>
				<span class="date">Dec 4th</span>
			</td>
			<td>
				<span class="day">Thu</span>
				<span class="date">Dec 5th</span>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="time highlight">
				<span class="starttime">7 am</span>
				-
				<span class="endtime">10 am</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td class="fullhighlight">
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">FREE</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">FREE</span>
			</td>
		</tr>
		<tr>
			<td class="time">
				<span class="starttime">10 am</span>
				-
				<span class="endtime">12 pm</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">FREE</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
		</tr>
		<tr>
			<td class="time">
				<span class="starttime">12 pm</span>
				-
				<span class="endtime">6 pm</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">FREE</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
		</tr>
		<tr>
			<td class="time">
				<span class="starttime">6 pm</span>
				-
				<span class="endtime">10 pm</span>
			</td>
			<td class="noslotavailable"></td>
			<td class="noslotavailable"></td>
			<td class="noslotavailable"></td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">FREE</span>
			</td>
			<td class="noslotavailable"></td>
			<td>
				<input type="radio" name="timeslot" />
				<span class="deliveryprice">&pound;2.00</span>
			</td>
		</tr>
	</tbody>
</table>

<ul class="key">
	<li>
		<span class="marker available"></span>
		<span>Available</span>
	</li>
	<li>
		<span class="marker notavailable"></span>
		<span>Not available</span>
	</li>
</ul>
