<div class="row">
<div class="six columns panel home-delivery-info">
	<h2><span class="icon-home-delivery-inverse"></span>Home delivery information</h2>
    <ul>
    	<li>Small items (require 1 delivery person) - from £3.95 per order (Saturdays £6.95).</li>
        <li>Large items (require 2 delivery people) - £8.95 per order.</li>
        <li>Free delivery on selected items (as shown in the product description).*</li>
        <li>If your order is made up of a number items you just pay the one higher charge.</li>
    </ul>
    <p>£3.00 charge for Saturday delivery still applies</p>
    <a href="" >See full Home Delivery Details</a>
</div>
<div class="six columns panel right store-collection-info">
	<h2><span class="icon-store-collection-inverse"></span>Store Pick-up information</h2>
    <ul>
    	<li>Pay in-store when you collect.</li>
        <li>In stock items available for immediate pick-up & held until the next day.</li>
    </ul>
    <a href="">See full Click &amp; Reserve details</a>
</div>
</div>