<div class="pdp-credit">

	<div class="credit-headings">
		<h4 class="main-heading">Get longer to pay <span class="subtext">with the argos card</span></h4>
		<h5 class="secondary-heading">Representative <span class="credit-apr">29.9% APR</span> variable</h5>
	</div>

	<div class="credit-content">

		<h4 class="product-title">{{ title }}</h4>

		<p class="credit-price">Cash price <span class="price">£{{ price.standard }}</span></p>

		<a href="#" class="button get-deal-button">How to get this deal</a>
		<a href="#" class="icon-more-info"><span class="accessibility">More info</span></a>

		<small class="credit-legal">
			The APR releates to the Argos Card as a whole and is variable. The interest rate for the Fixed Payment Plans will be fixed. Deferred interest will be charged if you don't clear the balance by the due date.
		</small>

	</div>
</div>
