<section class="recommendationGrid container">
	<ul class="row">
    	<!-- Recommendation item 1 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">Dimplex 2kW Upright Ceramic Fan Heater</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd><a href="#"><span class="accessibility">0 out of 5 stars</span> <span class="star-rating star-0"></span>(1)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"><small>&pound;34.99</small></span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 1 END -->
        <!-- Recommendation item 2 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">Hitachi 50 Inch Full HD Freeview HD Smart LED TV</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd><a href="#"><span class="accessibility">1 out of 5 stars</span> <span class="star-rating star-1"></span>(9)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"><small>&pound;349.99</small></span><br>
                    <span class="pricewas">was &pound;399.99</span><br/>
                    <span class="pricesale">save &pound;50.00</span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 2 END --> 
        <!-- Recommendation item 3 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">Lenovo A7 7 Inch Tablet - 16GB</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd><a href="#"><span class="accessibility">2 out of 5 stars</span> <span class="star-rating star-2"></span>(19)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"> <small>&pound;79.99</small> </span><br>
                    <span class="pricewas">was &pound;99.99</span><br/>
                    <span class="pricesale">save &pound;20.00</span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 3 END --> 
        <!-- Recommendation item 4 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">Nikon L330 20MP Bridge Camera - Black</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd class="product-rating"><a href="#"><span class="accessibility">3 out of 5 stars</span> <span class="star-rating star-3"></span>(11)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"><small>&pound;99.99</small></span><br>
                    <span class="pricewas">was &pound;179.99</span><br/>
                    <span class="pricesale">save &pound;80.00</span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 4 END --> 
        <!-- Recommendation item 5 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">Silentnight Miracoil Sutton Memory Double 2 Drw Divan Bed</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd class="product-rating"><a href="#"><span class="accessibility">4 out of 5 stars</span> <span class="star-rating star-4"></span>(2)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"><small>&pound;379.99</small></span><br>
                    <span class="pricewas">was &pound;759.99</span><br/>
                    <span class="pricesale">Half Price</span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 5 END --> 
        <!-- Recommendation item 6 START -->
        <li class="columns two">
        	<a class="product-image" tabindex="-1" href="#"><img height="110" width="110" src="http://placehold.it/110x110" alt="buy [product name] at argos.co.uk" /></a>
            <div>
            	<h3 class="product-title"><a href="#">HP 15-r213na 15.6 Inch Core i3 4GB 1TB Laptop - Purple</a></h3>
                <dl class="product-rating">
                	<dt class="accessibility">Product rating</dt>
                    <dd class="product-rating"><a href="#"><span class="accessibility">5 out of 5 stars</span> <span class="star-rating star-5"></span>(9)</a></dd>
                </dl>
                <p class="product-price">
                	<span class="price"><small>&pound;349.99</small></span><br>
                    <span class="pricewas">was &pound;449.99</span><br/>
                    <span class="pricesale">save &pound;100.00</span>
                </p>
            </div>
            <input type="image" alt="Remove [product name] from recently viewed items" class="product-remove">
        </li>
        <!-- Recommendation item 6 END -->
    </ul>
</section>
