<div class="four columns">
	<h2 class="accessibility">Stock check</h2>
	<form class="generic store-locator-block">
		<p><strong>Please enter your postcode or town name to check stock and review your trolley before checkout</strong></p>
		<label for="store-locator" class="field accessibility">Postcode or Townname </label>
		<input type="text" id="store-locator" value="Enter your postcode or townname">
		<ul>
			<li><a class="button primary">Collect</a></li>
			<li class="option">Or</li>
			<li><a class="button primary">Deliver</a></li>
		</ul>
	</form>
</div>