<form class="store-search" action="">
		<h2><span class="icon-store-locator-search"></span>Store Locator &amp; Opening Hours</h2>
		<fieldset class="store-search">
			<p>If you are looking for a store in <strong>Northern Ireland</strong>, please enter a postcode (not a town name). For stores in
				the <strong>Republic of Ireland</strong>, please visit <strong><a href="http://www.argos.ie">Argos.ie</a></strong>
			</p>
			<div>
				<label for="pcode"><strong class="extraText">Enter a </strong>Postcode</label>
			   <span>
					<input id="pcode" type="text" tabindex="1" class="first" name="mmPostcode">
					<input type="submit" class="button primary" name="store" value="Find">
			   </span>
			</div>
			<div class="last">
				<label><strong class="extraText">or enter </strong>a Town name</label>
				<span>
					<input type="text" tabindex="2" class="second" name="mmTownName">
					<input type="submit" class="button primary" name="store" value="Find">
				</span>
			</div>
	</fieldset>
</form>
