{% extends '../layout.html' %}

{% block title %}Wiki > Buttons{% endblock %}

{% block content %}

  <div class="content container">

		<hr />
		<h2>Buttons</h2>
		<hr />

		<h3>Primary Buttons</h3>
		<a class="button primary">Primary Button</a>
		<!-- <button class="button primary">Primary Button</button>
		<input type="submit" class="button primary" value="Primary Button" /> -->
		<br/><br/>
		<h3>Secondary Buttons</h3>
		<a class="button secondary">Secondary Button</a>
		<!-- <button class="button secondary">Secondary Button</button>
		<input type="submit" class="button secondary" value="Secondary Button" /> -->
		<br/><br/>
		<h3>Tertiary Buttons</h3>
		<a class="button tertiary">Tertiary Button</a>
		<!-- <button class="button tertiary">Tertiary Button</button>
		<input type="submit" class="button tertiary" value="Tertiary Button" /> -->
		<br/><br/>
		<h3>Turn on 1 Click Reserve Buttons</h3>
		<a class="button oneclickoff">Turn on 1 Click Reserve Button</a>
		<!-- <button class="button oneclickoff">Turn on 1 Click Reserve Button</button>
		<input type="submit" class="button oneclickoff" value="Turn on 1 Click Reserve Button" /> -->
		<br/><br/>
		<h3>1 Click Reserve Buttons</h3>
		<a class="button oneclick">1 Click Reserve Button</a>
		<!-- <button class="button oneclick">1 Click Reserve Button</button>
		<input type="submit" class="button oneclick" value="1 Click Reserve Button" /> -->
		<h3>Special Offer Buttons</h3>
		<a class="button special-offer">
			Special Offer Button
		</a>

  </div>

{% endblock content %}
