{% extends '../layout.html' %}

{% block title %}Wiki{% endblock %}

{% block content %}

  <div class="content">

		<div class="container">

			<hr />
			<h1>Wiki</h1>
			<p>Shown below are a list of all the pages currently developed, together with</p>
			<hr />

			<div class="row">

				<div class="columns four">
					<h2>Bootstrap</h2>
					<hr />
					<ul>
						<li><a href="/wiki/typography">Typography</a></li>
						<li><a href="/wiki/buttons">Buttons</a></li>
						<li><a href="/wiki/tables">Tables</a></li>
						<li><a href="/wiki/forms">Forms</a></li>
						<li><a href="/wiki/grid">Grid</a></li>
						<li><a href="/wiki/panels">Panels</a></li>
						<li><a href="/wiki/iconography">Iconography</a></li>
						<li><a href="/wiki/loading-animation">Animations</a></li>
						<li><a href="/wiki/colours">Colours</a></li>
					</ul>
				</div>
				<div class="columns four">
					<h2>Pages*</h2>
					<hr />
					<ul>
						<li><strong>Home:</strong>
							<ul>
								<li><a href="/">Default</a></li>
								<li>Logged In</li>
								<li>Recongised User</li>
							</ul>
						</li>
					</ul>

					<ul>
						<li><strong>PLP:</strong>
							<ul>
								<li><a href="/page/plp/1">Default</a></li>
							</ul>
						</li>
					</ul>


					<ul>
						<li><strong>PDP:</strong>
							<ul>
								<li><a href="/page/pdp/1">Default</a></li>
							</ul>
						</li>
					</ul>

					<ul>
						<li><strong>Checkout:</strong>
							<ul>
								<li><a href="/page/addedtotrolley/1">Added To Trolley</a></li>
								<li><a href="/page/tlp/1">Trolley Listing</a></li>
								<li><a href="/page/checkout-arrangedelivery/1">Arrange Delivery</a></li>
								<li><a href="/page/checkout-payment">Payment</a></li>
								<li>Successful Order</li>
								<li>Failed Order</li>
								<li>CAPE Information</li>
								<li>CAPE Application</li>
								<li>CAPE Success/Failure</li>
							</ul>
						</li>
					</ul>

					<ul>
						<li><strong>My Account:</strong>
							<ul>
								<li><a href="/page/myaccount-signin">Sign In</a></li>
								<li><a href="/page/myaccount-signedout">Signed Out</a></li>
								<li><a href="/page/myaccount-register">Register</a></li>
								<li>Register Success</li>
								<li><a href="/page/myaccount-forgottenpassword">Forgotten Password</a></li>
								<li>My Account Landing</li>
							</ul>
						</li>
					</ul>

					<ul>
						<li><strong>Store Locator:</strong>
							<ul>
								<li><a href="/page/storelocator-landing">Landing</a></li>
								<li><a href="/page/storelocator-refined/1">Refined Search</a></li>
								<li><a href="/page/storelocator-details/1">Details</a></li>
								<li><a href="/page/storelocator-map">Map</a></li>
							</ul>
						</li>
					</ul>

					<ul>
						<li><strong>Generic Pages:</strong>
							<ul>
								<li>Stock Checker</li>
								<li>Quick Shop</li>
								<li>Insurance Information</li>
							</ul>
						</li>
					</ul>

					<p><em>* list not complete</em></p>
				</div>
				<div class="columns four">
					<h2>Modules</h2>
					<hr />
					<ul>
						<li><a href="/module/carousel">Carousel</a></li>
						<li><a href="/module/promoGrid">PromoGrid</a></li>
						<li><a href="/module/recommendations">Recommendations</a></li>
						<li><a href="/module/static/argosCreditOffers">Credit Offers</a></li>
						<li><a href="/module/pagination">Pagination</a></li>
						<li><a href="/module/ishelpful">Helpful?</a></li>
						<li><a href="/module/breadcrumb">Breadcrumb</a></li>
						<li><a href="/module/facets">Facets</a></li>
						<li><a href="/module/fulfilment">Fulfilment</a></li>
						<li><a href="/module/static/homeDeliveryAndStorePickupInfo">Home delivery and store pickup</a></li>
						<li><a href="/module/static/orderListItem">Order list</a></li>
						<li><a href="/module/static/orderListItemAnonymous">Order list anonymous</a></li>
						<li><a href="/module/pdpCredit">PDP Credit</a></li>
						<li><a href="/module/promoGrid">Promo Grid</a></li>
						<li><a href="/module/static/scene7">Scene 7</a></li>
						<li><a href="/module/static/social">Social</a></li>
						<li><a href="/module/specialOffers">Special Offer</a></li>
						<li><a href="/module/static/storeLocator">Store Locator</a></li>
						<li><a href="/module/static/storeSearch">Store Search</a></li>
						<li><a href="/module/productCarousel">Product carousel</a></li>
						<li><a href="/module/deliverySlotsPicker">Delivery Slots Picker</a></li>
					</ul>
				</div>
			</div>


			<div class="row">

				<hr/>
				<h3>More information</h3>
				<hr/>
				<p>Further information about the design guidelines and best practices regarding UI design elements can be found at <a href="http://argosguidelines.github.io/Guidelines/global.html" target="_blank">http://argosguidelines.github.io/Guidelines/global.html</a>.</p>

			</div>


		</div>


  </div>

{% endblock content %}
