{% extends '../layout.html' %}

{% block title %}Wiki > Tables{% endblock %}

{% block content %}

  <div class="content container">


		<hr />
		<h2>Tables</h2>
		<hr />

		<table>
			<tbody>
				<tr class="title">
					<td colspan="4">Buying choices</td>
				</tr>
				<tr class="odd">
					<td>How can I get it?</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="title">
					<td colspan="4">Specifications</td>
				</tr>
				<tr class="odd">
					<td>Quantity</td>
					<td>24</td>
					<td>24</td>
					<td>24</td>
				</tr>
				<tr class="even">
					<td>Rechargable</td>
					<td>No</td>
					<td>No</td>
					<td>No</td>
				</tr>
				<tr class="odd">
					<td>Pre-charged</td>
					<td>No</td>
					<td>No</td>
					<td>No</td>
				</tr>
				<tr class="even">
					<td>Settings</td>
					<td>Variable</td>
					<td>Recharge</td>
					<td>Delayed</td>
				</tr>
			</tbody>
		</table>


  </div>

{% endblock content %}
