{% extends '../layout.html' %}

{% block title %}Wiki > Typeography{% endblock %}

{% block content %}

  <div class="content container">

		<hr />

	  	<h2>Generic Typography</h2>

	  	<hr />

		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>

		<br/>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <em>sed do eiusmod tempor</em> incididunt ut labore et dolore magna aliqua. Ut enim ad minim <strong>veniam, quis nostrud</strong> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, <a href="#">Anchor link</a> consectetur <strong><em>adipiscing elit, sed do</em></strong> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<ul>
			<li>Unordered List item 1</li>
			<li>Unordered List item 2 <em>with emphasised text</em></li>
			<li>Unordered List item 3 <strong>with bold text</strong></li>
			<li>Unordered List item 4 <a href="#">with link</a></li>
		</ul>

		<ol>
			<li>Ordered List item 1</li>
			<li>Ordered List item 2 <em>with emphasised text</em></li>
			<li>Ordered List item 3 <strong>with bold text</strong></li>
			<li>Ordered List item 4 <a href="#">with link</a></li>
		</ol>
		<br/>
		<span class="price">&pound;999.99</span><br/>
		<span class="price"><small>&pound;999.99</small></span><br/><br/>
		<span class="pricewas">Was &pound;999.99</span><br/><br/>
		<span class="pricesale">Save &pound;999.99</span><br/>
		<span class="freedelivery">+ FREE DELIVERY</span>


  </div>

{% endblock content %}
