<footer class="main-footer">
	<h2 class="accessibility">Footer links</h2>
	<div class="container">

		<nav class="footer-nav-help columns twelve">
			<ul>
				<li class="columns title two">How can we help?</li>
				<li class="columns two"><a href="/" class="button">Free returns</a></li>
				<li class="columns two"><a href="/" class="button">Check &amp; Reserve</a></li>
				<li class="columns two"><a href="/" class="button">Home Delivery</a></li>
				<li class="columns two"><a href="/" class="button">Order Tracking</a></li>
				<li class="columns two"><a href="/" class="button">Customer Services</a></li>
			</ul>
		</nav>

		<section class="footer-nav">

			<nav class="columns three">
				<h3>Help &amp; Advice</h3>
				<ul>
					<li><a href="/">Features & articles</a></li>
					<li><a href="/">Buying guides</a></li>
					<li><a href="/">Help getting online</a></li>
					<li><a href="/">Argos spares</a></li>
					<li><a href="/">Product care</a></li>
				</ul>
			</nav>

			<nav class="columns three">
				<h3>Shopping with Argos</h3>
				<ul>
					<li><a href="/">Argos gift card</a></li>
					<li><a href="/">Store locator</a></li>
					<li><a href="/">Argos card</a></li>
					<li><a href="/">A-Z index</a></li>
					<li><a href="/">Argos credit &amp; insurance</a></li>
					<li><a href="/">Secure online shopping</a></li>
				</ul>
			</nav>

			<nav class="columns three">
				<h3>About Argos</h3>
				<ul>
					<li><a href="/">About us</a></li>
					<li><a href="/">Press enquires</a></li>
					<li><a href="/">Argos for Business</a></li>
					<li><a href="/">Affiliate program</a></li>
					<li><a href="/">Argos careers</a></li>
				</ul>
			</nav>

			<nav class="columns three">
				<h3>Useful Links</h3>
				<ul>
					<li><a href="/">Email Sign-up</a></li>
					<li><a href="/">Quick shop</a></li>
					<li><a href="/">Stock checker</a></li>
					<li><a href="/">Argos.ie</a></li>
					<li><a href="/">Argos-spain.co.uk</a></li>
				</ul>
			</nav>

		</section>


		<nav class="footer-nav-devices columns seven">
			<ul>
				<li class="ico-argos">Argos app for: <a href="/">iPhone</a><a href="/">iPad</a><a href="/">Android</a></li>
				<li class="ico-app"><a href="/">Argos mobile site</a></li>
			</ul>
		</nav>


		<nav class="footer-nav-social columns five">
			<ul>
				<li class="ico-youtube"><a href="/">Youtube</a></li>
				<li class="ico-facebook"><a href="/">Facebook</a></li>
				<li class="ico-twitter"><a href="/">Twitter</a></li>
				<li class="ico-google"><a href="/">Google+</a></li>
			</ul>
		</nav>


		<nav class="footer-nav-policies-sitemap columns seven">
			<ul>
				<li><a href="/">Terms &amp; Conditions</a></li>
				<li><a href="/">Cookie policy</a></li>
				<li><a href="/">Privacy policy</a></li>
				<li><a href="/">Site map</a></li>
				<li><a href="/wiki/home">Wiki</a></li>
			</ul>
		</nav>

	 	<div class="footer-copyright columns five">
			<p>&copy; Argos Limited 2014. All Rights Reserved.</p>
		</div>

	</div>

</footer>
